.badgeSelectionPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
  width: 100%;
}

.badgesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.badgesContainer > button > img {
  height: 45px;
  width: 45px;
}

.badgesContainer > h5 {
  text-decoration: underline;
}

.badgesContainer > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  height: 60px;
  width: 500px;
  border: 1px solid black;
}

.deRender {
  display: none;
}
