.badgesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 600px;
  width: 100%;
}

.badgesContainer img {
  height: 45px;
  width: 45px;
}

.badgesContainer button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  height: 60px;
  width: 100%;
  border: 1px solid black;
}

.deRender {
  display: none;
}
