* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Press-Start-2P";
  font-style: normal;
  font-weight: normal;
  src: url(./PressStart2P-Regular.ttf);
}

.App {
  text-align: center;
  font-family: "Press-Start-2P";
  background-color: #f8ee5f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.title > p {
  margin: 0;
  padding: 0;
  font-size: 3.3vw;
}
.pokeball {
  margin-top: 5px;
  margin-left: 15px;
  height: 5vw;
  width: 5vw;
}

.warningText {
  font-size: 8px;
  color: red;
  margin-top: "5px";
}

.logoutBox {
  position: fixed;
  left: 80%;
  top: 4%;
}

.btnLogout {
  margin-left: 5px;
  height: 40px;
  width: 110px;
}

span {
  margin-right: 5px;
  font-size: 16px;
}

@media screen and (max-width: 720px) {
  .pokeball {
    height: 10vw;
    width: 10vw;
  }
  .title > p {
    font-size: 5vw;
  }

  .warningText {
    font-size: 3vw;
  }
  .logoutBox {
    position: relative;
    left: 0;
    top: 0;
  }
  .logoutbtn {
    height: 10vw;
  }
  .loginForm {
    margin-top: 10vw;
  }
}

.faded {
  filter: brightness(10%);
}

.hideMe {
  opacity: 0;
}

.deRender {
  display: none;
}
