.playerTeam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
}

.playerTeamSprite {
  box-sizing: border-box;
  height: 170px;
  width: 170px;
  border: none;
}

.playerTeamSprite > img {
  height: 110px;
  width: 110px;
}

.playerTeamSprite:hover {
  border: 2px dashed black;
  cursor: pointer;
}
