.playerTeam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerTeamSprite {
  height: 170px;
  width: 170px;
}

.playerTeamSprite > img {
  height: 102px;
  width: 102px;
}

.playerTeamSprite:hover {
  box-shadow: 0 0 3px 2px;
  cursor: pointer;
}
