.playerItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  width: 170px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.playerItem > img {
  height: 40px;
  width: 40px;
}

.playerItem:hover {
  box-shadow: 0 0 3px 2px;
  cursor: pointer;
}
