.battleContainer {
  background-color: white;
  height: 570px;
  width: 650px;
  border: 2px dashed black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.battleInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.sprite {
  height: 100%;
  width: 100%;
}

.teamRoster {
  margin-right: 5px;
}

.pokeball-team {
  height: 17px;
  width: 17px;
  margin-right: 1px;
}

.side {
  padding: 5px;
  margin-top: 5px;
}

.spriteContainer {
  height: 160px;
  width: 160px;
}

.player1Sprite {
  margin-left: 20px;
}

.player2Sprite {
  margin-left: 380px;
}

.options {
  margin: 2px;
}

.battleMessages {
  border-top: 2px dashed black;
  height: 20px;
  width: 106%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.message {
  margin-top: 5px;
  font-size: 15px;
}
.playermessage {
  margin-top: 5px;
  font-size: 15px;
}

.fullhp {
  background-color: #28a745 !important;
}

.halfhp {
  background-color: #f3e001 !important;
}

.onefifthhp {
  background-color: #cc0101 !important;
}

.type {
  height: 25px;
  width: 70px;
}

/* status colors */
.poison {
  background-color: rgb(154, 39, 196);
}
.burn {
  background-color: rgb(221, 65, 15);
}
.paralyze {
  background-color: rgb(199, 162, 33);
}
.frozen {
  background-color: rgb(11, 79, 233);
}
.sleep {
  background-color: rgb(111, 104, 112);
}

/* hp displayed in number values */
.smallText {
  font-size: 14px;
}
.smallHP {
  text-align: left;
  margin-left: 35px;
  margin-bottom: 0;
}

.transformed {
  filter: sepia(100%) contrast(60%) saturate(500%) hue-rotate(220deg);
}

.volume {
  position: absolute;
  margin-left: 99%;
  margin-top: -4.3%;
  height: 25px;
  width: 25px;
}
.typeChartButton {
  position: absolute;
  margin-left: 78%;
  margin-top: -4%;
  height: 22px;
  width: 115px;
  font-size: 8px;
}
.typeChartPopup > .modal-dialog {
  max-width: 95vw;
}
.typeChartPopup > .modal-dialog > .modal-content {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* grid-template-areas:
    "chart-1 chart-2 chart-3 chart-4"
    "chart-5 chart-6 chart-7 chart-8"
    "chart-9 chart-10 chart-11 chart-12"
    "chart-13 chart-14 chart-15 chart-16"
    "chart-f chart-f chart-f chart-f"; */
  grid-template-areas:
    "chart-1 chart-2"
    "chart-3 chart-4"
    "chart-5 chart-6"
    "chart-7 chart-8"
    "chart-9 chart-10"
    "chart-11 chart-12"
    "chart-13 chart-14"
    "chart-15 chart-16"
    "chart-f chart-f";
  justify-items: center;
  width: 100%;
  height: 98vh;
  overflow: scroll;
}
.chart-1 {
  grid-area: chart-1;
}
.chart-2 {
  grid-area: chart-2;
}
.chart-3 {
  grid-area: chart-3;
}
.chart-4 {
  grid-area: chart-4;
}
.chart-5 {
  grid-area: chart-5;
}
.chart-6 {
  grid-area: chart-6;
}
.chart-7 {
  grid-area: chart-7;
}
.chart-8 {
  grid-area: chart-8;
}
.chart-9 {
  grid-area: chart-9;
}
.chart-10 {
  grid-area: chart-10;
}
.chart-11 {
  grid-area: chart-11;
}
.chart-12 {
  grid-area: chart-12;
}
.chart-13 {
  grid-area: chart-13;
}
.chart-14 {
  grid-area: chart-14;
}
.chart-15 {
  grid-area: chart-15;
}
.chart-16 {
  grid-area: chart-16;
}
.chart-f {
  grid-area: chart-f;
}
/* .typeChart {
  width: 720px;
  height: 670px;
} */
.typeChart {
  width: 720px;
  height: 345px;
}

.typeChartPopup > .modal-dialog > .modal-content > .modal-footer {
  padding: 2px;
  width: 100%;
}
.typeChartPopup > .modal-dialog > .modal-content > .modal-footer > button {
  font-size: 18px;
  width: 100%;
}

.volume:hover {
  height: 30px;
  width: 30px;
}

.muted {
  opacity: 0.6;
}

.deRender {
  display: none;
}

.gymLeaderDiv > img {
  height: 420px;
  width: 230px;
}

.gymBadgeDiv > img {
  height: 250px;
  width: 250px;
}

@media only screen and (max-width: 720px) {
  .battleContainer {
    height: 93vw;
    width: 97vw;
    padding: 3vw;
  }
  .battleInputs {
    padding: 1.5vw;
    font-size: 3vw;
  }

  .teamRoster {
    margin-right: 0.5vw;
  }

  .pokeball-team {
    height: 3vw;
    width: 3vw;
    margin-right: 0.2vw;
  }
  .side {
    padding: 2vw;
    margin-top: 0;
    font-size: 3vw;
  }

  .spriteContainer {
    height: 18vw;
    width: 18vw;
  }

  .player1Sprite {
    margin-left: 4vw;
  }

  .player2Sprite {
    margin-left: 60vw;
  }

  .options {
    margin: 1vw;
  }
  .options > button {
    height: 10vw;
    width: 28vw;
    font-size: 3vw;
  }
  .volume:hover {
    height: 6vw;
    width: 6vw;
  }
  .battleMessages {
    height: 5vw;
    width: 106%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
  }

  .message {
    margin-top: 1vw;
    font-size: 3vw;
  }
  .playermessage {
    margin-top: 1vw;
    font-size: 3vw;
  }
  .badge {
    height: 4vw;
    width: 10vw;
    font-size: 2vw;
  }

  .type {
    height: 4vw;
    width: 12vw;
  }

  /* hp displayed in number values */
  .smallText {
    font-size: 3vw;
  }
  .smallHP {
    margin-left: 8vw;
  }

  .volume {
    margin-left: 87vw;
    height: 6vw;
    width: 6vw;
  }
  .gymLeaderDiv > img {
    height: 50vw;
    width: 27.5vw;
  }

  .gymBadgeDiv > img {
    height: 25vw;
    width: 25vw;
  }
  .typeChart {
    width: 95vw;
    height: 46vw;
  }

  .typeChartPopup > .modal-dialog > .modal-content > .modal-footer {
    margin: 0.5vw;
    width: 100%;
  }
  .typeChartPopup > .modal-dialog > .modal-content > .modal-footer > button {
    font-size: 4vw;
    width: 100%;
  }
  .typeChartButton {
    margin-left: 55vw;
    height: 5vw;
    width: 30vw;
    font-size: 2vw;
  }
  .typeChartPopup > .modal-dialog {
    max-width: 100%;
  }
  .typeChartPopup > .modal-dialog > .modal-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "chart-1"
      "chart-2"
      "chart-3"
      "chart-4"
      "chart-5"
      "chart-6"
      "chart-7"
      "chart-8"
      "chart-9"
      "chart-10"
      "chart-11"
      "chart-12"
      "chart-13"
      "chart-14"
      "chart-15"
      "chart-16"
      "chart-f";
    width: 100%;
    height: 90vh;
    overflow: scroll;
  }
}
