.battleContainer {
  background-color: white;
  height: 570px;
  width: 650px;
  border: 2px dashed black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.battleInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.sprite {
  height: 100%;
  width: 100%;
}

.pokeball-team {
  height: 16px;
  width: 16px;
}

.side {
  padding: 5px;
}

.spriteContainer {
  height: 160px;
  width: 160px;
}

.player1Sprite {
  margin-left: 20px;
}

.player2Sprite {
  margin-left: 380px;
}

.options {
  margin: 2px;
}

.battleMessages {
  border-top: 2px dashed black;
  height: 20px;
  width: 106%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.message {
  margin-top: 5px;
  font-size: 16px;
}
.playermessage {
  margin-top: 5px;
  font-size: 16px;
}

.fullhp {
  background-color: #28a745 !important;
}

.halfhp {
  background-color: #f3e001 !important;
}

.onefifthhp {
  background-color: #cc0101 !important;
}

.type {
  height: 25px;
  width: 70px;
}

/* status colors */
.poison {
  background-color: rgb(154, 39, 196);
}
.burn {
  background-color: rgb(221, 65, 15);
}
.paralyze {
  background-color: rgb(199, 162, 33);
}
.frozen {
  background-color: rgb(11, 79, 233);
}
.sleep {
  background-color: rgb(111, 104, 112);
}

/* hp displayed in number values */
.smallText {
  font-size: 14px;
}
.smallHP {
  text-align: left;
  margin-left: 35px;
  margin-bottom: 0;
}

.transformed {
  filter: sepia(100%) contrast(60%) saturate(500%) hue-rotate(220deg);
}

.volume {
  position: absolute;
  margin-left: 99%;
  margin-top: -3%;
  height: 25px;
  width: 25px;
}

.volume:hover {
  height: 30px;
  width: 30px;
}

.muted {
  opacity: 0.6;
}
