.battleContainer {
  background-color: white;
  height: 550px;
  width: 650px;
  border: 2px dashed black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.battleInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.sprite {
  height: 100%;
  width: 100%;
}

.side > p > img {
  height: 16px;
  width: 16px;
}

.side {
  padding: 5px;
}

.spriteContainer {
  height: 160px;
  width: 160px;
}

.player1Sprite {
  margin-right: 350px;
}

.player2Sprite {
  margin-left: 400px;
}

.teamList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 310px;
}

.teamListSprite {
  height: 65px;
  width: 65px;
  border: none;
}

.teamListSprite:hover {
  border: 2px dashed red;
}

.moveList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.moveListName {
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
}

.playerMoves {
  padding: 3px;
  width: 100%;
}

.battleMessages {
  border-top: 2px dashed black;
  height: 30px;
  width: 106%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.message {
  margin-top: 3px;
  font-size: 16px;
}
.playermessage {
  margin-top: 3px;
  font-size: 16px;
}

.faded {
  opacity: 0.5;
}

.fullhp {
  background-color: #28a745 !important;
}

.halfhp {
  background-color: #f3e001 !important;
}

.onefifthhp {
  background-color: #cc0101 !important;
}

.type {
  height: 30px;
  width: 65px;
}

/* status colors */
.poison {
  background-color: rgb(154, 39, 196);
}
.burn {
  background-color: rgb(221, 65, 15);
}
.paralyze {
  background-color: rgb(199, 162, 33);
}
.frozen {
  background-color: rgb(11, 79, 233);
}
.sleep {
  background-color: rgb(111, 104, 112);
}
