.teamsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 50vh;
}
.teamsContainer > div > div > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.team1 {
  display: inline;
}
.team2 {
  display: inline;
}

#BattleButton {
  margin: 5px;
}
