.playerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  height: 25px;
  width: 310px;
  margin-bottom: 8px;
}

.playerItem > img {
  height: 20px;
  width: 20px;
}

.playerItem:hover {
  box-shadow: 0 0 3px 2px;
  cursor: pointer;
}
