.playerItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.playerItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  width: 170px;
  /* margin-bottom: 8px; */
}

.playerItem > img {
  height: 50px;
  width: 50px;
}

.playerItem:hover {
  box-shadow: 0 0 3px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .playerItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .playerItem > p {
    margin-bottom: 0;
  }

  .playerItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    height: 10vw;
    width: 100%;
    color: #343a40;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
  }

  .playerItem > img {
    height: 8vw;
    width: 8vw;
  }
}
