.teamBuilder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.mainButtons {
  width: 40%;
}

.mainButtons > button {
  width: 100%;
  height: 70px;
  font-size: 15px;
  margin-bottom: 20px;
}

.teamsContainer {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.team > div > img {
  cursor: pointer;
}

.team {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "box-1 box-2 box-3 box-4 box-5 box-6";
  justify-content: center;
  height: fit-content;
  width: 100%;
}
.team > .header {
  text-decoration: underline;
  margin-bottom: 0;
}

.team > div > p {
  font-size: 10px;
}
.battleStage {
  width: 100%;
}
.team > .sprite {
  margin-left: 1vw;
  margin-right: 1vw;
}
div > img {
  height: 80px;
  width: 80px;
}
.header {
  grid-area: header;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
.box-6 {
  grid-area: box-6;
}

.battlebtn {
  margin-top: 80px;
  height: 60px;
  width: 300px;
  font-size: 32px;
}

.pokemonSheetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  height: 70%;
  margin: 5px;
}
.pokemonSheet > div {
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

.pokemonSheet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.btn-dark {
  margin: 5px;
}

.sheetBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 10vw;
  margin-top: 0.5vw;
  margin-top: 0.5vw;
  font-size: 0.8vw;
}

.sheetBlock > img {
  height: 12vh;
  width: 6vw;
}

.sheetBlock:hover {
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.9);
  box-shadow: 0 0 3px 2px;
  color: white;
}

.modalSprite {
  height: 150px;
  width: 150px;
}

.pokemonTeamPopup > .modal-dialog > .modal-content > .modal-footer {
  padding: 8px;
}
.pokemonTeamPopup > .modal-dialog > .modal-content > .modal-footer > button {
  font-size: 16px;
  width: 100%;
}

.modalTeamSprite {
  height: 150px;
  width: 150px;
}

.modalStats > div > ul {
  text-align: left;
  list-style-type: none;
}
.modalStats > div > ul > li {
  margin-bottom: 3px;
}

.modalMoves > div > ul {
  text-align: left;
  list-style-type: none;
}
.modalMoves > div > ul > li {
  margin-bottom: 3px;
}
.modalMoves > div > p {
  text-decoration: underline;
}

.modalMoves > div > ul > li > img {
  height: 25px;
  width: 70px;
}

.badgesShowcase {
  position: fixed;
  left: 79vw;
  top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "badgesHeader badgesHeader"
    "badge-1 badge-2"
    "badge-3 badge-4"
    "badge-5 badge-6"
    "badge-7 badge-8"
    "badge-9 badge-9";
  width: 280px;
  height: 530px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.badgesHeader {
  grid-area: badgesHeader;
  text-decoration: underline;
  margin-bottom: 15px;
}

.badge-1 {
  grid-area: badge-1;
}
.badge-2 {
  grid-area: badge-2;
}
.badge-3 {
  grid-area: badge-3;
}
.badge-4 {
  grid-area: badge-4;
}
.badge-5 {
  grid-area: badge-5;
}
.badge-6 {
  grid-area: badge-6;
}
.badge-7 {
  grid-area: badge-7;
}
.badge-8 {
  grid-area: badge-8;
}
.badge-9 {
  grid-area: badge-9;
}

.badgesShowcase > div > img {
  height: 65px;
  width: 65px;
}
.badgesShowcase > .badge-9 > img {
  height: 85px;
  width: 85px;
}

.teamShowcase {
  position: fixed;
  left: 2vw;
  top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "teamHeader teamHeader"
    "team-1 team-2"
    "team-3 team-4"
    "team-5 team-6"
    "teambtn teambtn";
  width: 280px;
  height: 530px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.teamHeader {
  grid-area: teamHeader;
  text-decoration: underline;
  margin-bottom: 10px;
}

.teamShowcase > div > img {
  cursor: pointer;
}

.team-1 {
  grid-area: team-1;
}
.team-2 {
  grid-area: team-2;
}
.team-3 {
  grid-area: team-3;
}
.team-4 {
  grid-area: team-4;
}
.team-5 {
  grid-area: team-5;
}
.team-6 {
  grid-area: team-6;
}

.teambtn {
  grid-area: teambtn;
}

.teamShowcase > div > img {
  height: 115px;
  width: 115px;
}

.teamShowcase > div > span {
  font-size: 10px;
}

.mainmenuButton {
  position: absolute;
  left: 1%;
  top: 4%;
}

@media only screen and (max-width: 720px) {
  .teamBuilder {
    margin-top: 0;
  }
  .mainmenuButton {
    position: relative;
    left: 0;
    top: 0;
    height: 10vw;
    width: 45vw;
    font-size: 3.5vw;
    margin-bottom: 2vw;
  }
  .mainButtons {
    width: 100vw;
    margin-top: 0;
  }
  .mainButtons > button {
    width: 90vw;
    height: 18vw;
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .teamShowcase {
    position: relative;
    left: 0;
    top: 0;
    width: 85vw;
    height: 130vw;
    margin-bottom: 2vw;
  }
  .teamHeader {
    font-size: 5vw;
    margin-bottom: 0;
  }

  .teamShowcase > div > img {
    height: 28vw;
    width: 28vw;
  }

  .teamShowcase > div > span {
    font-size: 3vw;
  }
  .teambtn {
    width: 81vw;
    font-size: 4vw;
  }
  .badgesShowcase {
    position: relative;
    left: 0;
    top: 0;
    width: 85vw;
    height: 130vw;
    margin-bottom: 2vw;
  }
  .badgesHeader {
    font-size: 5vw;
  }
  .badgesShowcase > div > img {
    height: 16vw;
    width: 16vw;
  }
  .badgesShowcase > .badge-9 > img {
    height: 20vw;
    width: 20vw;
  }
  .modal-header {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .modal-title {
    font-size: 4vw;
  }
  .modal-header > h5 {
    font-size: 4vw;
  }
  .modal-header > p {
    font-size: 3vw;
    margin-bottom: 1%;
  }
  .modal-header > button {
    position: relative;
    top: 0;
    left: 0;
    height: 10vw;
    width: 30vw;
    font-size: 4vw;
  }
  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .modalMoves > div > ul > li {
    font-size: 3vw;
  }
  .modalMoves > div > ul > li > img {
    height: 5vw;
    width: 12vw;
  }
  .modalStats > div > ul > li {
    font-size: 3vw;
  }
  .modal-footer > button {
    height: 10vw;
    font-size: 4vw;
  }
  .modalSprite {
    height: 30vw;
    width: 30vw;
  }
  .modalTeamSprite {
    height: 35vw;
    width: 35vw;
  }
  .pokemonSheetContainer {
    height: 70vh;
  }
  .pokemonSheetContainer > div {
    font-size: 3.5vw;
    margin-bottom: 1vw;
  }
  .pokemonSheet {
    grid-template-columns: 1fr 1fr;
  }
  .pokemonSheet > div {
    font-size: 3vw;
  }
  .sheetBlock {
    height: 15vw;
    width: 40vw;
    font-size: 3.5vw;
  }
  .teamsContainer {
    width: 100%;
    height: 35vh;
  }
  .team > .header {
    font-size: 3vw;
  }
  .team > div > p {
    font-size: 1.6vw;
  }
  .team > div > img {
    height: 13vw;
    width: 13vw;
  }
  .battlebtn {
    margin-top: 5vw;
    height: 15vw;
    width: 55vw;
    font-size: 5vw;
  }
  .playerTwoNameDiv {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  .playerTwoNameDiv > input {
    width: 90vw;
  }
  .playerTwoNameDiv > p {
    font-size: 3vw;
  }
  .teamList {
    margin-top: 7vw;
    margin-bottom: 25vw;
  }
}
