.teamBuilder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.team1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-6";
}
.team > .header {
  text-decoration: underline;
  margin-bottom: 0;
}

.team > div > p {
  font-size: 10px;
}
.battleStage {
  width: 100%;
}
.team2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-6";
}
div > img {
  height: 70px;
  width: 70px;
}
.header {
  grid-area: header;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
.box-6 {
  grid-area: box-6;
}

#BattleButton {
  margin: 5px;
}

.pokemonSheetContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 100%;
  height: 45%;
  margin: 8px;
}

.pokemonSheet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.btn-dark {
  margin: 5px;
}

.sheetBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 160px;
  margin-top: 6px;
  margin-top: 6px;
  font-size: 14px;
}

.sheetBlock > img {
  height: 12vh;
  width: 6vw;
}

.sheetBlock:hover {
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.9);
  box-shadow: 0 0 3px 2px;
  color: white;
}

.deRender {
  display: none;
}

.modalSprite {
  height: 200px;
  width: 200px;
}

.modalTeamSprite {
  height: 180px;
  width: 180px;
}

.modalStats > div > ul {
  text-align: left;
  list-style-type: none;
}
.modalStats > div > p {
  text-decoration: underline;
}

.modalMoves > div > ul {
  text-align: left;
  list-style-type: none;
}
.modalMoves > div > p {
  text-decoration: underline;
}

.modalMoves > div > ul > li > img {
  height: 25px;
  width: 70px;
}

.badgesShowcase {
  position: fixed;
  left: 80%;
  top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "badgesHeader badgesHeader"
    "badge-1 badge-2"
    "badge-3 badge-4"
    "badge-5 badge-6"
    "badge-7 badge-8"
    "badge-9 badge-9";
  width: 280px;
  height: 500px;
}

.badgesHeader {
  grid-area: badgesHeader;
  text-decoration: underline;
  margin-bottom: 15px;
}

.badge-1 {
  grid-area: badge-1;
}
.badge-2 {
  grid-area: badge-2;
}
.badge-3 {
  grid-area: badge-3;
}
.badge-4 {
  grid-area: badge-4;
}
.badge-5 {
  grid-area: badge-5;
}
.badge-6 {
  grid-area: badge-6;
}
.badge-7 {
  grid-area: badge-7;
}
.badge-8 {
  grid-area: badge-8;
}
.badge-9 {
  grid-area: badge-9;
}

.badgesShowcase > div > img {
  height: 65px;
  width: 65px;
}
.badgesShowcase > .badge-9 > img {
  height: 85px;
  width: 85px;
}

.teamShowcase {
  position: fixed;
  left: 2%;
  top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "teamHeader teamHeader"
    "team-1 team-2"
    "team-3 team-4"
    "team-5 team-6"
    "teambtn teambtn";
  width: 280px;
  height: 500px;
}

.teamHeader {
  grid-area: teamHeader;
  text-decoration: underline;
  margin-bottom: 15px;
}

.teamShowcase > div > img {
  cursor: pointer;
}

.team-1 {
  grid-area: team-1;
}
.team-2 {
  grid-area: team-2;
}
.team-3 {
  grid-area: team-3;
}
.team-4 {
  grid-area: team-4;
}
.team-5 {
  grid-area: team-5;
}
.team-6 {
  grid-area: team-6;
}

.teambtn {
  grid-area: teambtn;
}

.teamShowcase > div > img {
  height: 85px;
  width: 85px;
}

.teamShowcase > div > span {
  font-size: 10px;
}

.mainmenuButton {
  position: fixed;
  left: 1%;
  top: 4%;
}
